# Dependencies
node_modules/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
coverage/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Local tooling/cache
.cache/
.temp/
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
